<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card *ngFor = "let item of items">
      <ion-card-content>
            <img src = {{item.foto}}>
            <div>Nombre: {{ item.nombre }} {{ item.apellidos }}</div>
            <div>Edad: {{ item.edad }} años</div>
            <div >Color: {{ item.color }}</div>
          </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>